.about {
    .container {
        display: flex; 
    }
	.page-hero__preview {
        flex: 0 0 49.3%;
        position: relative;
        &::before, &:after {
            content: "";
            width: 350px;
            height: 350px;
            border-radius: 50%;
            background: $blue;
            filter: blur(130px);
            position: absolute;
            z-index: -1;
        }
        &::before {
            left: -120px;
            bottom: -120px;
        }
        &::after {
            top: -120px;
            right: -120px;
        }
    }
    &--history .page-content{
        max-width: none;
    }
    &--partners {
        h1 {
            margin-bottom: 32px;
        }
        .switch-block {
            max-width: 896px;
        }
    }
    &__content {
        flex: 1 1 auto;
    }
	&__sticky {
        flex: 0 0 23.23%;
        margin-left: 32px;
        nav {
            padding: 32px 16px;
            border-radius: 32px;
            background-color: $light-blue;
            position: sticky;
            top: 20px;
        }
        span {
            display: block;
            text-align: center;
            margin-bottom: 23px;
        }
        ul li {
            font-size: 20px;
            padding: 10px 24px;
            margin-bottom: 6px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                color: $gray;
            }
            &.active {
                pointer-events: none;
                border-radius: 16px;
                border: 2px solid rgba($green, 50%);
                a {
                    font-weight: 500;
                    color: $green;
                }
            }
        }
    }
    &__employees {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 32px;
    }
    &__gallery {
        &:last-child {
            margin-bottom: 0!important;
        }
        h2 {
            margin-bottom: 32px;
        }
        .item-docs {
            .main-link svg {
                transform: rotate(0);
            }
            span {
                text-transform: none;
            }
        }
    }
    @media (max-width: $bp1) {
        &__sticky {
            flex: 0 0 26%;
            max-width: 300px;
            margin-left: 20px;
            nav {
                padding: 20px 16px;
            }
            ul li {
                font-size: 18px;
                padding: 10px 15px;
                margin-bottom: 0;
            }
        }
        &__employees {
            gap: 20px;
        } 
        .page-hero__preview:before,.page-hero__preview:after {
            width: 300px;
            height: 300px;
        } 
    }
    @media (max-width: $bp2) {
        .container {
            display: block;
        }
        &__sticky {
            display: none;
        }
    }
    @media (max-width: $bp3) {
        &__employees {
            grid-template-columns: 1fr 1fr;
        } 
        .page-hero__preview:before,.page-hero__preview:after {
            width: 270px;
            height: 270px;
        }   
    }  
    @media (max-width: $bp4) {
        .page-hero__preview:after {
            top: 10px;
        }  
    }  
    @media (max-width: $bp5) {
        &__employees {
            max-width: 320px;
            margin: 0 auto;
            grid-template-columns: 1fr;
        } 
    }  
}
.about-block {
    padding: 60px;
    border-radius: 32px;
    background-color: $light-blue;
    margin: 60px 0;
    @media (max-width: $bp2) {
        padding: 48px;
        margin: 48px 0;
    }
    @media (max-width: $bp3) {
        padding: 32px;
        border-radius: 16px;
    }
    @media (max-width: $bp4) {
        padding: 20px;
        margin: 32px 0;
    }
}
.item-history {
    padding-bottom: 44px;
    display: flex;
    align-items: flex-start;
    position: relative;
    &:before {
        content: "";
        display: block;
        width: 2px;
        height: 100%;
        position: absolute;
        left: 274px;
        background: $green;
        z-index: -1;
    }
    &:first-child:before {
        background: linear-gradient(to bottom, rgba($green, 0.18), $green);
    }
    &:last-child {
        padding-bottom: 0!important;
    }
    &__year {
        flex: 0 0 350px;
        display: flex;
        align-items: center;
        span {
            flex: 0 0 200px;
            color: $green;
            font-size: 75px;
            font-weight: 500;
            line-height: 112%;
            white-space: nowrap;
        }
        &:after {
            content: "";
            display: block;
            flex: 0 0 50px;
            width: 50px;
            height: 50px;
            background: url(../img/icons/disc.svg) center/contain no-repeat;
            margin: 0 50px;
        }
    }
    &__content {
        padding-top: 18px;
    }
    @media (max-width: $bp1) {
        &:before {
            left: 194px;
        }
        &__year {
            flex: 0 0 240px;
            &:after {
                flex: 0 0 40px;
                width: 40px;
                height: 40px;
                margin: 0 25px;
            }
            span {
                font-size: 55px;
                flex: 0 0 150px;
            }
        }
        &__content {
            padding-top: 12px;
        }
    }
    @media (max-width: $bp2) {
        padding-bottom: 32px;
        &:before {
            left: 159px;
        }
        &__year {
            flex: 0 0 200px;
            &:after {
                flex: 0 0 30px;
                width: 30px;
                height: 30px;
            }
            span {
                font-size: 45px;
                flex: 0 0 120px;
            }
        }
        &__content {
            padding-top: 9px;
        }
    }
    @media (max-width: $bp4) {
        padding-bottom: 16px;
        &:before {
            left: 114px;
        }
        &__year {
            flex: 0 0 135px;
            &:after {
                flex: 0 0 20px;
                width: 20px;
                height: 20px;
                margin: 0 10px;
            }
            span {
                font-size: 35px;
                flex: 0 0 95px;
            }
        }
        &__content {
            padding-top: 7px;
        }
    }
    @media (max-width: $bp6) {
        &:before {
            left: 96px;
        }
        &__year {
            flex: 0 0 117px;
            span {
                font-size: 28px;
                flex: 0 0 77px;
            }
        }
        &__content {
            padding-top: 3px;
        }
    }
}
.item-partner {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    &:last-child {
        margin-bottom: 0!important;
    }
    &__preview {
        flex: 0 0 160px;
        width: 160px;
        height: 130px;
        padding: 2px 27px;
        border-radius: 16px;
        background: rgba(20, 19, 19, 0.05);
        margin-right: 32px;
        img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
    @media (max-width: $bp1) {
        &__preview{
            flex: 0 0 145px;
            width: 145px;
            height: 120px;
            padding: 2px 20px;
            margin-right: 20px;
        }
    }
    @media (max-width: $bp2) {
        margin-bottom: 20px;
        &__preview {
            flex: 0 0 120px;
            width: 120px;
            height: 110px;
            padding: 2px 10px;
        }
    }
    @media (max-width: $bp4) {
        &__preview{
            flex: 0 0 110px;
            width: 110px;
            margin-right: 15px;
        }
    }
    @media (max-width: $bp5) {
        display: block;
        &__preview {
            margin: 0 0 15px;
        }
    }
}
.item-employee {
    .media-cover {
        padding-top: 110.7%;
        border-radius: 16px;
        margin-bottom: 16px;
    }
    h5 {
        color: $green;    
    }
    span {
        color: $gray;
    }
    @media (max-width: $bp1) {
        .media-cover {
            margin-bottom: 10px;
        }
    }
}
.item-media {
    padding: 32px 0;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    align-items: start;
    gap: 32px;
    position: relative;
    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, $white, rgba(#792BC2, 0.5), $white);
        position: absolute;
        top: 0;
        left: 0;
    }
    &:first-child {
        padding-top: 0!important;
        &:before {
            background: none;
        }
    }
    &__logo {
        grid-column: 1/4;
        border-radius: 16px;
        background-color: $light-blue;
        padding: 35px 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__content {
        grid-column: 4/13;
        h3 {
            color: $green;
            margin-bottom: 8px;
        }
        p {
            font-size: 20px;
            color: $dark-gray;
            margin-bottom: 20px;
        }
    }
    @media (max-width: $bp1) {
        gap: 20px;
    }
    @media (max-width: $bp2) {
        &__content {
            p {
                font-size: 18px;
            }
        }
    }
    @media (max-width: $bp3) {
        &__logo {
            padding: 25px 14px;
        }
    }
    @media (max-width: $bp4) {
        &__logo {
            grid-column: 1/5;
        }
        &__content {
            grid-column: 5/13;
            p {
                font-size: 16px;
            }
        }
    }
    @media (max-width: $bp5) {
        display: block;
        &__logo {
            max-width: 150px;
            margin-bottom: 15px;
        }
    }
}





