:root {--vh: 1%}
$bp1: 1300.98px;
$bp2: 991.98px;
$bp3: 767.98px;
$bp4: 600.98px;
$bp5: 479.98px;
$bp6: 350.98px;
$maincolor: #141313;
$blue: #3F8D9A;
$green: #329D57;
$light-blue: #E5F9FC;
$white: #FFFFFF;
$black: #000000;
$red: #F14C3E;
$orange: #FF9E45;
$gray: rgba(20, 19, 19, 0.50);
$dark-gray: rgba(20, 19, 19, 0.80);




